---
subject: Main
---
{{>header}}
<table align="center" class="main__container float-center">
  <tbody>
    <tr>
      <td>
          <center>
            <spacer size="50"></spacer>
            <h2>Banner</h2>
            <strong>banner 600</strong>
            <table align="center" class="banner banner-full">
              <tbody>
                <tr>
                  <td>
                      <img src="https://placehold.co/600x150" class="baner__img">
                  </td>
                </tr>
              </tbody>
            </table>
            <spacer size="10"></spacer>
            <table align="center" class="banner banner-content">
              <tbody>
                <tr>
                  <td>
                      <img src="https://placehold.co/420x150" class="baner__img">
                  </td>
                </tr>
              </tbody>
            </table>
            <spacer size="50"></spacer>
            <hr>
            <spacer size="50"></spacer>
            <h2>Button</h2>
            <table class="row width-540px">
              <tbody>
                <tr>
                  <th class="large-3 float-left">
                    <table class="button float-left">
                      <tbody>
                        <tr>
                          <td>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                      <a align="center" href="#">left</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                  <th class="large-3 float-center">
                    <table class="button float-center">
                      <tbody>
                        <tr>
                          <td>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                      <a align="center" href="#">center</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                  <th class="large-3 float-right">
                    <table class="button float-right">
                      <tbody>
                        <tr>
                          <td>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                      <a align="center" href="#">right</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                </tr>
              </tbody>
            </table>
            <spacer size="50"></spacer>
            <hr>
            <spacer size="50"></spacer>
            <table class="row width-540px">
              <tbody>
                <tr>
                  <th class="large-4 float-left">
                    <table class="button float-left">
                      <tbody>
                        <tr>
                          <td>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                      <a align="center" href="#">button</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                  <th class="large-4 float-center">
                    <table class="button-secondary float-center">
                      <tbody>
                        <tr>
                          <td>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                      <a align="center" href="#">secondary</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                  <th class="large-4 float-right">
                    <table class="button-link float-right">
                      <tbody>
                        <tr>
                          <td>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                      <a align="center" href="#">link</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                </tr>
              </tbody>
            </table>
            <spacer size="50"></spacer>
            <hr>
            <spacer size="50"></spacer>
            <h2>Conteiner</h2>
            <table class="row width-100 background-primary">
              <tbody>
                <tr>
                  <th>
                    width: 100%
                  </th>
                </tr>
              </tbody>
            </table>
            <table class="row width-540px background-secondary">
              <tbody>
                <tr>
                  <th>
                    <p>width: 540px</p>
                  </th>
                </tr>
              </tbody>
            </table>
            <spacer size="50"></spacer>
            <h3>...</h3>
            <hr>
            <spacer size="50"></spacer>
            <h2>Content in Conteiner</h2>
            <h3>w-100:</h3>
            <table class="row">
              <tbody>
                <tr>
                  <th class="large-3 float-center">
                    <img src="https://placehold.co/600x450" class="float-center">
                    <h3>Title</h3>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <table class="button float-center">
                      <tbody>
                        <tr>
                          <td>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                      <a align="center" href="#">button</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                </tr>
              </tbody>
            </table>
            <spacer size="50"></spacer>
            <h3>grid:</h3>
            <table class="row">
              <tbody>
                <tr>
                  <th class="mail-col float-center">
                    <img src="https://placehold.co/600x450" class="float-center">
                    <h3>Title</h3>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <table class="button float-center">
                      <tbody>
                        <tr>
                          <td>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                      <a align="center" href="#">button</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                  <th class="mail-col float-center">
                    <img src="https://placehold.co/600x450" class="float-center">
                    <h3>Title</h3>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <table class="button float-center">
                      <tbody>
                        <tr>
                          <td>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                      <a align="center" href="#">button</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                  <th class="mail-col float-center">
                    <img src="https://placehold.co/600x450" class="float-center">
                    <h3>Title</h3>
                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <table class="button float-center">
                      <tbody>
                        <tr>
                          <td>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                      <a align="center" href="#">button</a>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                </tr>
              </tbody>
            </table>
            <spacer size="50"></spacer>
          </center>
      </td>
    </tr>
  </tbody>
</table>
{{>footer}}